.row-fluid
  / Forms: Box
  .span6
    / Forms: Top Bar
    .top-bar
      %h3
        %i.icon-cog
        Editar Lançamento
    / / Forms: Top Bar
    / Forms: Content
    .well.no-padding
      = flash_message(@lancamento)
      / Forms: Form
      / Forms: Normal input field
      = render 'form' 