- if @notificacoes.any?
  / User Navigation: Notifications
  %li.dropdown
    / User Navigation: Notifications Link
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      %i.icon-align-justify.icon-white
      %span.hidden-phone Notificações
      %span.badge.badge-inverse= @notificacoes.size
    %ul.dropdown-menu.widget
      %li
        %h2
          %i.icon-align-justify
          Notificações
          %span.badge.badge-light.small= @notificacoes.size > 5 ? 5 : @notificacoes.size

      - @notificacoes.each do |n|
        %li
          %a.note{:href => "#"}
            %small= n.tempo_de_cadastro
            %p
              %i.icon-edit
              %b= n.texto
      / / User Navigation: Notifications Item
      / User Navigation: Notifications Item
      /%li
      /  %a.note{:href => "#"}
      /    %small 6 hour ago
      /    %p
      /      %i.icon-edit
      /      %b You
      /      added
      /      %b Some changes
      / / User Navigation: Notifications Item
      / User Navigation: Notifications Item
      %li
        %a.text-center{:href => "/"}
          %i.icon-inbox
          Visualizar todas Notificações
      / / User Navigation: Notifications View All
    / / User Navigation: Notifications Dropdown
  / / User Navigation: Notifications