# PostgreSQL. Versions 8.2 and up are supported.
#
# Install the pg driver:
#   gem install pg
# On OS X with Homebrew:
#   gem install pg -- --with-pg-config=/usr/local/bin/pg_config
# On OS X with MacPorts:
#   gem install pg -- --with-pg-config=/opt/local/lib/postgresql84/bin/pg_config
# On Windows:
#   gem install pg
#       Choose the win32 build.
#       Install PostgreSQL and put its /bin directory on your path.
#
# Configure Using Gemfile
# gem 'pg'
#
development:
  adapter: postgresql
  encoding: utf-8
  database: controle_pessoal
  username: postgres
  password: postgres

test:
  adapter: postgresql
  encoding: unicode
  database: controle_pessoal_test
  username: postgres
  password: postgres

production:
  adapter: postgresql
  encoding: utf-8
  database: controle_pessoal
  username: postgres
  password: postgres
#development:
#  adapter: postgresql
#  encoding: utf-8
#  database: dc1rvi0qt3rpau
#  pool: 5
#  username: yytbzpfjfiahaf
#  password: flu9WHkKjtiGaYh04_iz7hLGeJ
#  host: ec2-107-21-120-102.compute-1.amazonaws.com
#production:
#  adapter: postgresql
#  encoding: utf-8
#  database: dc1rvi0qt3rpau
#  pool: 5
#  username: yytbzpfjfiahaf
#  password: flu9WHkKjtiGaYh04_iz7hLGeJ
#  host: ec2-107-21-120-102.compute-1.amazonaws.com
