= form_for(@sub_categoria, :html => {:class => "form-horizontal"}) do |f|
  .control-group
    %label.control-label{:for => "inputNormal"}
      Descrição *
    .controls
      .input-prepend.input-append
        %span.add-on.float-left
          %i.icon-text-width
        = f.text_field :descricao
  .form-actions
    .float-left
      = link_to "Voltar", @sub_categoria.categoria , :class => "btn"     
    .float-right
      = f.submit "Confirmar", :class => "btn btn-primary"
