.row-fluid
  .span5
    / Forms: Top Bar
    .top-bar
      %h3
        %i.icon-cog
        Editar Sub-Categoria
    / / Forms: Top Bar
    / Forms: Content
    .well.no-padding
      = flash_message(@sub_categoria)
      / Forms: Form
      / Forms: Normal input field
      = render 'form'
